
	<div class"row">
		<div class="col-md-6" id="top_level">				
		</div>
	</div>

	<div class"row">
		<div class="col-md-2" id="sub_category1">				
		</div>
	</div>	

	<div class"row">
		<div class="col-md-2" id="sub_category2">				
		</div>
	</div>

	<div class"row">
		<div class="col-md-2" id="sub_category3">				
		</div>
	</div>

	<div class"row">
		<div class="col-md-3" id="sub_category4">				
		</div>
	</div>	

		<div class"row">
			<div class="col-md-3" id="sub_category5">				
			</div>
		</div>

  

<script type="text/javascript"> 
 
	$(gon.top_level).each(function(){	
		$("#top_level").append('<h5><a href="#">' + this.main_category + " >" + '</a></h5>');
		$.data("#top_level", "category", this.category_id);			
		})	

	$("#top_level").on('click', 'a', function(){
			console.log($.data("#top_level", "category"));
	});		
	
</script>

