<h1>New Listing</h1>

<div id="get_category">
	<%= link_to "Select eBay Category", listing_categories_path, class: 'btn btn-info' %>
</div>

 <!-- <%= render  %> -->

 <!-- <%= link_to  listings_path %> -->


<script type="text/javascript">
	








</script>
