// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.formal {
	margin-right: 5px;
}

.formal_left {
	margin-left: 10px;
}

.fatbottom {
	margin-bottom: 20px;
}

#title {
	width: 25%;
}

#descript {
	margin-left: 10%;
}

.item-title {
	color: black;
	background-color: #F0F8FF;
	padding: 5px;
	border-radius: 5px;
}

.outofit {
	display: none;
}

#sizely-frame {
	width: 60em;
	height: 50em;
	margin-bottom: 10em;
}