<div class="container">


	<div class="row">
		<div class="col-md-8">	
			<h3><%= @parent_category.main_category + " > " + @parent_category.f1 +  @parent_category.f2 +  
			@parent_category.f3 + @parent_category.f4 + @parent_category.f5 %></h3>
		</div>
	</div>

	<h1>End of the Road!</h1>

</div>	




