<div class="container">
	<div class"row">
		<div class="col-md-4" id="main_category">
				<% @categories.each do |c| %>
					<h5><%= link_to c.main_category + " >", sub_1_path(c, @product) %><h5> 
				<% end %>			
		</div>
	</div>
</div>



